{
	"extends": [
		"@commitlint/config-conventional"
	],
	"rules": {
		"type-enum": [
			2,
			"always",
			[
				"ci",
				"feat",
				"fix",
				"refactor",
				"style",
				"docs",
				"chore",
				"test",
				"revert"
			]
		]
	}
}
